h1 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 0.25em;
}

#players {
    display: flex;
    width: 65%;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    margin: 0 auto;
}

.aPlayer {
    display: flex;
    flex-direction: column;
    border: 1px solid lightblue;
    border-radius: 0.5em;
    padding: 1em;
    margin: 0.1em;
}

.currentGame {
    width: 250px;
    height: 300px;
    border: 1px solid lightblue;
    border-radius: 0.5em;
    text-align: center;
}

#currentGames {
    display: flex;
    margin: 2em auto 2em auto;
    justify-content: center;
    gap: 1em;
    min-height: 320px;
}

.mostPlayedHand {
    margin-bottom: 1em;
}